* {margin: 0; padding: 0; box-sizing: border-box;font-family: 'Roboto', sans-serif;} 
body,html { height: 100%;}

/* Classes Auxiliares */
.clear {clear: both;}
.container {max-width: 960px; padding: 0 2%; margin: 0 auto;}
ul {list-style-type: none;}
a {text-decoration: none;}

/* Estilos Site */

/* Sessão 01 */

section#header-master {
    /* background-image: url('../image/bg_01.png');
    background-size: cover;
    width: 100%;
    padding-bottom: 30px;
    min-height: 600px;
   */
    

    position: relative;
    background: linear-gradient(90deg, #79E7C5, rgb(68, 233, 180));
    width: 100%;
    min-height: 700px;
    

}
section#header-master .wave {
    position: absolute;
    width: 100%;
    height: 143px;
    bottom: 0;
    left: 0;
    background-image: url('../image/wave.png');
    animation: animate 10s linear infinite;
}
@keyframes animate {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 1360px;
    }
}

section#header-master .wave::before {
    content: '';
    width: 100%;
    height: 143px;
    background-image: url('../image/wave.png');
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    animation: animate-reverse 10s linear infinite;
}
@keyframes animate-reverse {
    0% {
        background-position: 1360px;
    }
    100% {
        background-position: 0;
    }
}

section#header-master .wave::after {
    content: '';
    width: 100%;
    height: 143px;
    background-image: url('../image/wave.png');
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    animation-delay: -5s;
    animation: animate-after 20s linear infinite;
}
@keyframes animate-after {
    0% {
        background-position: 1360px;
    }
    100% {
        background-position: 0;
    }
}


section#header-master header {
    border-bottom: 2px solid #4756582f;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.137);
    z-index: 1;
}

div#logo {
    background-image: url('../image/logo-clear.png');
    width: 166px;
    height: 64px;
    float: left;
    z-index: 5;
}
div#logo h2 {
    color: white;
    position: relative;
    left: 25px;
    bottom: 8px;
}
div#logo span {
    color: white;
    position: relative;
    left: 48px;
    bottom: 15px;
    font-size: 13px;
}

header nav {
    float: left;
    padding-left: 60px;
    position: relative;
    top: 22px;
    z-index: 5;
}

header li {
    display: inline-block;
    font-size: 16px;
    margin: 0 15px;
    color: white;
}

header li > a {
    color: inherit;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
}
li.selected {
    color: #509D87;
    position: relative;
}
li.selected > span {
    position: absolute;
    bottom: 0;
    background-color: #509D87;
    width: 10px;
    height: 3px;
}

div#telefone-header {
    position: relative;
    top: 17px;
    float: right;
}

div#telefone-header span {
    color: white;
    font-size: 23px;
    z-index: 5;
}

#content-header {
    padding: 50px 0;
}

#content-header #one {
    float: left;
    width: 50%;
}

#content-header #one h2 {
    color: #509D87;
    font-weight: normal;
    font-size: 37px;
}

#content-header #one p {
    padding: 20px 0;
    font-size: 14px;
}

#content-header #one span {
    color: #509D87;
    font-size: 14px;
    display: inline-block;
    margin-top: 15px;
}

#content-header #one form input{
    display: inline-block;
}

#content-header #one form input[type=email]{
    width: 251px;
    height: 50px;
    border: 3px solid #ccc;
    border-radius: 40px;
    font-size: 20px;
    padding-left: 15px ;
    outline: 0;
}

#content-header #one form input[type=submit] {
    background-color: rgb(5, 190, 150);
    border: 0;
    width: 195px;
    height: 50px;
    border-radius: 40px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    outline: 0;
}

#content-header #two {
    float: left;
    width: 50%;
}

#content-header #two img{
    float: right;
    width: 42%;
    /* padding: 10px; */
    box-shadow: 1px 10px 10px rgba(65, 64, 64, 0.404);
    border-radius: 100%;
    margin-bottom: 35px;
    margin-top: -15px;
    margin-right: 30px;
}

#content-header #two img:nth-last-child(3), #content-header #two img:nth-last-child(5){
    margin-right: 0;
}

/* sessão 02 diferenciais */

section#diferenciais #box-diferencial {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section#diferenciais .diferencial-single {
    max-width: 280px;
    width: 100%;
    margin: 60px 0;
}

section#diferenciais .diferencial-single h2{
    font-weight: normal;
    margin-top: 15px;
    color: #2d2d2d;
}

section#diferenciais .diferencial-single  h2 span{
    color: #509D87;
}

section#diferenciais .diferencial-single  p{
    font-size: 14px;
    margin-top: 15px;
    color: #2d2d2d;
}

/* sessao Sobre */
section#sobre {
    margin-top: 10px;
}
section#sobre #box-sobre {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}
section#sobre .sobre-container {
    width: 100%;
    max-width: 550px;
    margin-top: 10px;
}

section#sobre .sobre-container:nth-of-type(2) {
    padding: 0 2%;
    max-width: 350px;
}

section#sobre .sobre-container img {
    max-width: 100%;
    min-height: 400px;
}

section#sobre .sobre-container h2 {
    color: #A8C4B8;
    font-weight: normal;
    margin-bottom: 10px;
    font-size: 22px;
}

section#sobre .sobre-container p {
    color: #2d2d2d;
    font-size: 15px;
    margin-bottom: 10px;
}

section#sobre .sobre-container h2 span {
    color: #04CA9E;
}

/* seseao depoimento */

section#depoimento {
    position: relative;
    bottom: 80px;
}
section#depoimento .container-depo {
    max-width: 1800px;
    margin: 0 auto;
    width: 100%;
}

section#depoimento #banner-02 {
    background-image: url(../image/bg_02.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    text-align: center;
}

section#depoimento .conteudo-depoimento {
    max-width: 500px;
    width: 100%;
    margin-top: -20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); -moz-transform: translateX(-50%);-ms-transform: translateX(-50%);-o-transform: translateX(-50%);
}

#banner-02 #box-img-depoimento {
    display: flex;
    justify-content: space-between;
} 

#banner-02 #box-img-depoimento img{
    margin-top: 150px;
    /* position: relative; */
}

section#depoimento .conteudo-depoimento h2{
    font-weight: 300;
    color: black;
    font-size: 33px;
}

section#depoimento .conteudo-depoimento p {
    color: #509D87;
    font-size: 15px;
}
























@media screen and (max-width: 900px) {
    nav#desktop {
        display: none;
    }
   
    section#header-master header {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 40px;
        
    }

    #telefone-header {
        display: none;
    }

    #content-header #one{
        text-align: center;
        width: 100%;
    }

    #content-header #two img{
        display: none;

    }

    div#logo {
        position: relative;
        background-repeat: no-repeat;
        top: 20px;
        margin-bottom: 25px;
    }

    /* diferencial */

    section#diferenciais .diferencial-single {
        margin: 30px 0;
    }

    /* sessao Sobre */

    section#sobre .sobre-container img {
        max-width: 75%;
        min-height: 250px;
    }

    section#sobre #box-sobre {
        flex-wrap: wrap;
    }

    section#sobre .sobre-container {
        width: 100%;
        max-width: 900px;
        margin-top: 10px;
    }


    section#sobre .sobre-container:nth-of-type(2) {
        max-width: 700px;
        width: 100%;
        margin-top: 30px;
    }

    /* seseao depoimento */

    section#depoimento {
        bottom: 0px;
    }

}




@media screen and (max-width: 500px) {
    section#header-master {
        background-image: url('../image/bg_01.png');
        background-size: cover;
        padding-bottom: 30px;
       
    }
    section#header-master .wave{
        display: none;
    }
    section#header-master header {
        border-bottom: 0;
        padding: 10px;
        background-color: transparent;
        
    }

    #content-header #one h2 {
        font-size: 30px;
        text-align: left;
    }
    
    #content-header #one p {
        text-align: left;
        margin-bottom: 20px;
    }
    
    #content-header #one span {
        font-size: 13px;
    }
   
    #content-header #one form input[type=submit] {
        width: 251px;
        font-size: 18px;
        margin-top: 15px;
    }

     /* sessao Sobre */

     section#sobre .sobre-container img {
        max-width: 100%;
        min-height: 200px;
    }

    /* sessao depoimento */

    section#depoimento .conteudo-depoimento {
        padding: 0 5%;
    }

    section#depoimento .conteudo-depoimento h2{
      padding: 0 50px;
    }

    

}

