* {margin: 0; padding: 0; outline: none; box-sizing: border-box;font-family: 'Roboto', sans-serif;} 
body,html { height: 100%;}

/* Classes Auxiliares */
.clear {clear: both;}
.container {max-width: 960px; padding: 0 2%; margin: 0 auto;}
ul {list-style-type: none;}
a {text-decoration: none;}

/* Estilos Site */

/* Sessão 01 */

section#header-master {
    position: relative;
    background: linear-gradient(90deg, #79E7C5, rgb(68, 233, 180));
    width: 100%;
    min-height: 700px;
}

section#header-master .wave {
    position: absolute;
    width: 100%;
    height: 143px;
    bottom: 0;
    left: 0;
    background-image: url('../image/wave.png');
    animation: animate 10s linear infinite;-moz-animation:  animate 10s linear infinite;-o-animation:  animate 10s linear infinite;-webkit-animation:  animate 10s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 1360px;
    }
}

section#header-master .wave::before {
    content: '';
    width: 100%;
    height: 143px;
    background-image: url('../image/wave.png');
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    animation: animate-reverse 10s linear infinite;-moz-animation:  animate-reverse 10s linear infinite;-o-animation:  animate-reverse 10s linear infinite;-webkit-animation:  animate-reverse 10s linear infinite;
}
@keyframes animate-reverse {
    0% {
        background-position: 1360px;
    }
    100% {
        background-position: 0;
    }
}

section#header-master .wave::after {
    content: '';
    width: 100%;
    height: 143px;
    background-image: url('../image/wave.png');
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    animation-delay: -5s; -moz-animation-delay: -5s; -o-animation-delay: -5s; -webkit-animation-delay: -5s;
    animation: animate-after 20s linear infinite; -moz-animation:  animate-after 20s linear infinite;-o-animation:  animate-after 20s linear infinite;-webkit-animation:  animate-after 20s linear infinite;
}
@keyframes animate-after {
    0% {
        background-position: 1360px;
    }
    100% {
        background-position: 0;
    }
}


section#header-master header {
    border-bottom: 2px solid #4756582f;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.137);
    z-index: 1;
}

.logo {
    background-image: url('../image/logo-clear.png');
    width: 166px;
    height: 64px;
    float: left;
    z-index: 5;
}
.logo h2 {
    color: white;
    position: relative;
    left: 25px;
    bottom: 8px;
}
.logo span {
    color: white;
    position: relative;
    left: 48px;
    bottom: 15px;
    font-size: 13px;
}

nav#desktop {
    float: left;
    padding-left: 60px;
    position: relative;
    top: 22px;
    z-index: 5;
}

nav#desktop li {
    display: inline-block;
    font-size: 16px;
    margin: 0 15px;
    color: white;
}

nav#desktop li > a {
    color: inherit;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
}
nav#desktop li.selected {
    color: #509D87;
    position: relative;
}
nav#desktop li.selected > span {
    position: absolute;
    bottom: 0;
    background-color: #509D87;
    width: 10px;
    height: 3px;
}

div#telefone-header {
    position: relative;
    top: 17px;
    float: right;
}

div#telefone-header span {
    color: white;
    font-size: 23px;
    z-index: 5;
}

/* Menu Mobile */

nav#menu-mobile{
    display: none;
    float: right;
}

nav#menu-mobile ul{
    background-color: #6cc5b2;
    display: none;
    width: 100%;
    /* padding: 30px 0; */
    position: absolute;
    top: 80px;
    left: 0;
  
}

nav#menu-mobile ul li {  
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.678);
}

nav#menu-mobile ul li:last-of-type {  
    border-bottom: 0;
}

nav#menu-mobile ul li a{
    color: white;
    display: block;
    transition: 0.6s;
}

nav#menu-mobile ul li a:hover {
    color: #509D87;
}

#content-header {
    padding: 50px 0;
}

#content-header #one {
    float: left;
    width: 50%;
}

#content-header #one h2 {
    color: #509D87;
    font-weight: normal;
    font-size: 37px;
}

#content-header #one p {
    padding: 20px 0;
    font-size: 14px;
}

#content-header #one span {
    color: #509D87;
    font-size: 14px;
    display: inline-block;
    margin-top: 15px;
}

#content-header #one form input{
    display: inline-block;
}

#content-header #one form input[type=email]{
    width: 251px;
    height: 50px;
    border: 3px solid #ccc;
    border-radius: 40px;
    font-size: 20px;
    padding-left: 15px ;
    outline: 0;
}

#content-header #one form input[type=submit] {
    background-color: rgb(5, 190, 150);
    border: 0;
    width: 195px;
    height: 50px;
    border-radius: 40px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    outline: 0;
}

#content-header #two {
    float: left;
    width: 50%;
}

#content-header #two img{
    float: right;
    width: 42%;
    box-shadow: 1px 10px 10px rgba(65, 64, 64, 0.404);
    border-radius: 100%;
    margin-bottom: 35px;
    margin-top: -15px;
    margin-right: 30px;
}

#content-header #two img:nth-last-child(3), #content-header #two img:nth-last-child(5){
    margin-right: 0;
}

/* sessão 02 diferenciais */

section#diferenciais #box-diferencial {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section#diferenciais .diferencial-single {
    max-width: 280px;
    width: 100%;
    margin: 60px 0;
}

section#diferenciais .diferencial-single h2{
    font-weight: normal;
    margin-top: 15px;
    color: #2d2d2d;
}

section#diferenciais .diferencial-single  h2 span{
    color: #509D87;
}

section#diferenciais .diferencial-single  p{
    font-size: 14px;
    margin-top: 15px;
    color: #2d2d2d;
}

/* sessao Sobre */
section#sobre {
    margin-top: 10px;
}
section#sobre #box-sobre {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}
section#sobre .sobre-container {
    width: 100%;
    max-width: 550px;
    margin-top: 10px;
}

section#sobre .sobre-container:nth-of-type(2) {
    padding: 0 2%;
    max-width: 350px;
}

section#sobre .sobre-container img {
    max-width: 100%;
    min-height: 400px;
}

section#sobre .sobre-container h2 {
    color: #A8C4B8;
    font-weight: normal;
    margin-bottom: 10px;
    font-size: 22px;
}

section#sobre .sobre-container p {
    color: #2d2d2d;
    font-size: 15px;
    margin-bottom: 10px;
}

section#sobre .sobre-container h2 span {
    color: #04CA9E;
}

/* seseao depoimento */

section#depoimento {
    position: relative;
    bottom: 80px;
}
section#depoimento .container-depo {
    max-width: 1800px;
    margin: 0 auto;
    width: 100%;
}

section#depoimento #banner-02 {
    background-image: url(../image/bg_02.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    text-align: center;
}

section#depoimento .conteudo-depoimento {
    max-width: 500px;
    width: 100%;
    margin-top: -20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); -moz-transform: translateX(-50%);-ms-transform: translateX(-50%);-o-transform: translateX(-50%);
}

#banner-02 #box-img-depoimento {
    display: flex;
    justify-content: space-between;
} 

#banner-02 #box-img-depoimento img{
    margin-top: 150px;
    width: 5%;
}

section#depoimento .conteudo-depoimento h2{
    font-weight: 300;
    color: #2d2d2d;
    font-size: 33px;
}

section#depoimento .conteudo-depoimento p {
    color: #509D87;
    font-size: 15px;
}

/* section Etapas */

section#etapas #etapas__box {
    display: flex;
    justify-content: space-between;
}

section#etapas .container {
    max-width: 1100px;
}

section#etapas h2 {
    text-align: center;
    font-weight: normal;
    color: #2d2d2d;
    font-size: 30px;
    margin-bottom: 80px;
}

section#etapas h2 span{
   color: #509D87;
}

section#etapas .etapas__one {
    width: 55%;
  
}

.etapas__one .etapas__grupo  img {
    max-width: 100%; 
}


.etapas__grupo p {
    color: #509D87;
    float: right;
    width: 30%;
    margin-top: 110px;
}

.etapas__grupo p:nth-last-child(2) {
    color: #ccc;
    margin-left: 20px;
    margin-top: 60px;
}

/* etapa_____TWO */

section#etapas .etapas__two {
    width: 45%;
    margin-left: 50px;
}

.etapas__grupo_2 {
    margin-bottom: 30px;
}

.etapas__grupo_2 .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #ccc;
    position: relative;
    float: left;
}

.circle span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);-o-transform: translate(-50%,-50%);
    font-size: 40px;
    color: #509D87;
}

.etapas__descricao {
    float: right;
    width: calc(100% - 100px);
    padding: 0 20px;
}

.etapas__descricao h3 {
    margin-top: 10px;
    color: #509D87;
    font-size: 20px;
}

.etapas__descricao p {
    margin-top: 2px;
    color: #2d2d2d;
}

.etapas__lineHeight {
    position: absolute;
    left: 50%;
    top: 99px;
    transform: translateX(-50%);-moz-transform: translateX(-50%);-ms-transform: translateX(-50%);-o-transform: translateX(-50%);
    height: 30px;
    width: 1px;
    background: #ccc;
}

/* Diferenças */

.diferencas__single #diferencas__line {
    width: 2px;
    height: 250px;
    background-color: #ccc;
}
section#diferencas {
    margin-top: 100px ;
    background: rgb(250, 250, 250);
    padding: 50px ;
}

section#diferencas h1 {
    text-align: center;
    margin-bottom: 50px;
    font-weight: normal;
    color: #2d2d2d;
    font-size: 30px;
}

section#diferencas h1 span{
    color: #509D87;
}

section#diferencas span  b{
    color: rgb(47, 122, 100) !important;
}

section#diferencas #diferencas__box {
    display: flex;
    justify-content: center;
}

section#diferencas .diferencas__single {
    padding: 0 15px;
    text-align: center;
}

.diferencas__single h2 {
    font-weight: normal;
    color: #ccc;
    margin-bottom: 15px;
}

.diferencas__single img {
    width: 60%;
    margin-bottom: 10px;
}

.diferencas__single .diferencas__item_1 span {
    color: #ccc;
    display: block;
}

.diferencas__single .diferencas__item_2 span {
    color: #04CA9E;
    display: block;
    margin-bottom: 10px;
}

.diferencas__item_1 {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}
.diferencas__item_1 .diferencas__line_1 {
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, rgb(252, 0, 0), rgb(190, 0, 0));;
    position: absolute;
    bottom: 7px;
    left: 0;
    transform: rotate(-2.5deg);-moz-transform: rotate(-2.5deg);-ms-transform: rotate(-2.5deg);-o-transform: rotate(-2.5deg);
    z-index: 999;
    opacity: 0.4;
}

/* Contato  */


section#contato {
    padding: 30px 0 80px 0;
    background: #98fcde;
    width: 100%;
    position: relative;
}

section#contato h2 {
    text-align: center;
    color: #509D87;
    margin-bottom: 40px;
}

section#contato #contato__box{
    display: flex;
    justify-content: center;
}

section#contato .box__form {
    width: 40%;
}

section#contato .form__box {
    margin-top: 5px;
}

section#contato #escritorio__contato {
    margin-bottom: 20px;
}

section#contato #escritorio__contato p {
    color: #509D87;
    font-size: 14px;
}

section#contato input[type=text],input[type=tel],input[type=email]{
    width: 100%;
    height: 40px;
    border-radius: 50px;
    border: 2px solid #ccc;
    padding-left: 10px;
    margin-bottom: 5px;    
    font-size: 15px
}

/* section#contato textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    font-size: 15px;
    border-radius: 20px;
    border: 2px solid #ccc;
    resize: none;
} */

section#contato .btn-form {
    background-color: #509D87;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border: 0;
    width: 60%;
    height: 40px;
    border-radius: 50px;
}

#author .imagem {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgb(230, 230, 230);
    border: 8px solid rgba(80, 157, 135, 0.452);
}

#about__author {
    margin-left: 30px;
    margin-top: 10px;
}

#about__author p {
    color: #509D87;
    font-weight: bold;
}

 #about__author  span {
    color: #509D87;
    font-size: 13px;
}

/* footer */

footer {
    background-color: #6cc5b2;
    width: 100%;
    padding: 15px 0;
}

footer #conteudo__footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;   
}

footer #conteudo__footer p {
    color: white;
    font-size: 14px;
   
}

footer #conteudo__footer p a {
    color: white;
}

/* Scroll top */

#topBtn {
    width: 50px;
    height: 50px;
    background: #04CA9E;
    border-radius: 50%;
    bottom: 50px;
    right:15px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    border: 0;
    box-shadow: 1px 5px 9px rgba(32, 32, 32, 0.473);
    position: fixed;
    opacity: 0.4;
    display: none;
}

#topBtn {   
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
}


















@media screen and (max-width: 1240px) {
    section#etapas .container {
        max-width: 700px;
    }

    section#etapas #etapas__box {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    section#etapas .etapas__two {
        margin-top: 50px;
        width: 100%;
    }

    section#etapas .etapas__one {
        width: 100%;
    }

    .etapas__one .etapas__grupo  img {
        max-width: 40%; 
    }

    .etapas__grupo p {
        color: #509D87;
        float: right;
        width: 30%;
        margin-top: 30px;
        margin-right: 150px;
    }
    
    .etapas__grupo p:nth-last-child(2) {
       display: none;
    }
}


@media screen and (max-width: 900px) {

    nav#menu-mobile {
        display: block;
    }
    nav#desktop {
        display: none;
    }
   
    section#header-master header {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 40px;
        
    }

    #telefone-header {
        display: none;
    }

    #content-header #one{
        text-align: center;
        width: 100%;
    }

    #content-header #two img{
        display: none;

    }

    div#logo {
        position: relative;
        background-repeat: no-repeat;
        top: 20px;
        margin-bottom: 25px;
    }

    /* diferencial */

    section#diferenciais .diferencial-single {
        margin: 30px 0;
    }

    /* sessao Sobre */

    section#sobre .sobre-container img {
        max-width: 75%;
        min-height: 250px;
    }

    section#sobre #box-sobre {
        flex-wrap: wrap;
    }

    section#sobre .sobre-container {
        width: 100%;
        max-width: 900px;
        margin-top: 10px;
    }


    section#sobre .sobre-container:nth-of-type(2) {
        max-width: 700px;
        width: 100%;
        margin-top: 30px;
    }

    /* seseao depoimento */

    section#depoimento {
        bottom: 0px;
    }

    section#depoimento .conteudo-depoimento h2{
        font-size: 30px;
    }

    /* Contato */

    section#contato #contato__box{
        flex-wrap: wrap;
        justify-content: center;
    }

    section#contato .box__form {
        width: 100%;
    }

    section#contato #author {
        margin: 0 auto;
        width: 100%;
        max-width: 200px;
    }

    section#contato form {
        margin: 0 auto;
        width: 100%;
        max-width: 500px;
    }

    section#contato #escritorio__contato {
        padding: 50px 0 20px 0;
        margin: 0 auto;
        width: 100%;
        max-width: 500px;
    }
   

}




@media screen and (max-width: 500px) {
    .logo {
     margin-top: 30px;
    }
    
    section#header-master {
        background-image: url('../image/bg_01.png');
        background-size: cover;
        padding-bottom: 30px;
       
    }
    section#header-master .wave{
        display: none;
    }
    section#header-master header {
        border-bottom: 0;
        padding: 10px;
        background-color: transparent;
        
    }

    #content-header #one h2 {
        font-size: 30px;
        text-align: left;
    }
    
    #content-header #one p {
        text-align: left;
        margin-bottom: 20px;
    }
    
    #content-header #one span {
        font-size: 13px;
    }
   
    #content-header #one form input[type=submit] {
        width: 251px;
        font-size: 18px;
        margin-top: 15px;
    }

     /* sessao Sobre */

     section#sobre .sobre-container img {
        max-width: 100%;
        min-height: 200px;
    }

    /* sessao depoimento */

    section#depoimento .conteudo-depoimento {
        padding: 0 5%;
        margin-top: -10px;
    }

    section#depoimento .conteudo-depoimento h2{
      padding: 0 25px;
      font-size: 28px;
    }
   
    #banner-02 #box-img-depoimento img{
        margin-top: 150px;
        width: 6%;
    }

    /* etapas 500px */

    section#etapas {
        margin: 80px 0;
    }

    section#etapas h2 {
        font-size: 25px;
    }

    section#etapas .etapas__two {
        margin-left: 0px;
        margin-top: 80px;
    }

    .etapas__grupo p {
        width: 50%;
        margin-right: 20px;
    }

    .etapas__grupo_2 .circle {
        width: 80px;
        height: 80px;
        background-color: white;
        z-index: 999  !important;
    }
    
    .circle span{
        font-size: 35px;
    }
    
    .etapas__descricao {
        padding: 0 0px;
    }

    .etapas__descricao h3 {
        margin-top: 0px;
    }

    .etapas__lineHeight {
        top: 78px;
        height: 100px;
        z-index: 1;
    }

    /* Diferencas 500px */
    section#diferencas {
        margin-top: 0;
    }

    .diferencas__single #diferencas__line {
        width: 250px;
        height: 2px;
    }

    section#diferencas #diferencas__box {
        flex-wrap: wrap;
        justify-content: center;
    }

    .diferencas__single {
        margin-bottom: 30px;
    }
    .diferencas__single:last-child {
        margin-bottom: 0px;
    }

    section#diferencas h1 {
        font-size: 25px;
    }

    /* Contato */

    section#contato {
        padding: 30px 0 70px 0;
    }

    section#contato .btn-form {
        width: 100%;     
    }
}


@media screen and (max-width: 320px) {
    /* etapas */

    .etapas__lineHeight,.circle,.circle span {
        display: none;
    }

    .etapas__descricao {
        width: 100%;
    }

    /* depoimento */

    section#depoimento .conteudo-depoimento h2{
        padding: 0 2%;
        margin-top: 140px;
    }

    #banner-02 #box-img-depoimento img{
        display: none;
    }

    section#depoimento .conteudo-depoimento {
        padding: 0 2%;
        margin-top: 0;
    }
   
}

